<div class="center-align">
	<button (click)="showNew = !showNew" class="btn waves-effect waves-light #5c6bc0 indigo lighten-1">
	add contact
	</button>
</div>
<div #newContactInput *ngIf = "showNew" [@bringUpMenu]="newContactInput.state">
	<div class="container" [hidden]="!confirmation">
		<h3 class="center-align">Add Contacts</h3>
		<form (ngSubmit)="confirm()">
			<div>
				<label for="name">Name</label>
				<input type="text" id="name" required
				[(ngModel)]="newContact.name" name="name">
				<p *ngIf="newContact.name">{{newContact.name}}</p>
			</div>
			<div>
				<label for="age">Age</label>
				<input type="text" id="age" required
				[(ngModel)]="newContact.age" name="age">
				<p *ngIf="newContact.age">{{newContact.age}}</p>
			</div>
			<div>
				<label for="phone">Phone</label>
				<input type="text" id="phone" required
				[(ngModel)]="newContact.phone" name="phone">
				<p *ngIf="newContact.phone">{{newContact.phone}}</p>
			</div>
			<button class="waves-effect waves-light btn blue" type="submit">Submit</button>
			<button class="waves-effect waves-light btn purple" type="button"(click)="setForm()">Clear</button>
		</form>
	</div>
	<div class="new-confirmation container center-align" [hidden]="confirmation">
		<h1>You Entered:</h1>
			<p *ngIf="newContact.name">{{newContact.name}}</p>
			<p *ngIf="newContact.age">{{newContact.age}}</p>
			<p *ngIf="newContact.phone">{{newContact.phone}}</p>
			<button class="waves-effect waves-light btn blue" type="submit" (click)="addNewContact(newContact)">Submit</button>
			<button class="waves-effect waves-light btn purple" type="button" (click)="confirmation=true">Edit</button>
	</div>
	<div *ngIf="errorMessage">
		<p>Something went wrong: {{errorMessage}}</p>
	</div>
</div>