<div (mouseenter)="growButton()" (mouseleave)="shrinkButton()" [@growButton]='buttonState' class="center-align">
	<button (click)="showNew = !showNew" class="btn waves-effect waves-light #5c6bc0 indigo lighten-1">
	add contact
	</button>
</div>
<div #newContactInput *ngIf = "showNew" [@bringUpMenu]="newContactInput.state">
	<div class="container" [hidden]="!confirmation">
		<h3 class="center-align">Add Contacts</h3>
		<form class="center-align"  [formGroup]="newContactForm" (ngSubmit)="confirm()">
			<div>
				<label for="name">Name</label>
				<input myInput type="text" formControlName="name">
				<div class="required-field" *ngIf="newContactForm.get('name').hasError('required') && newContactForm.get('name').hasError.touched">
					Name is required
				</div>
			</div>
			<div>
				<label for="age">Age</label>
				<input myInput type="number" formControlName="age">
				<div class="required-field" *ngIf="newContactForm.get('age').hasError('required') && newContactForm.get('age').hasError.touched">
					Age is required
				</div>
			</div>
			<div>
				<label for="phone">Phone</label>
				<input myInput type="number" formControlName="phone">
				<div class="required-field" *ngIf="newContactForm.get('phone').hasError('required') && newContactForm.get('phone').hasError.touched">
					Phone is required
				</div>
			</div>
			<div class="center-align">
				<button  [disabled]="newContactForm.invalid" class="waves-effect waves-light btn blue" type="submit">Submit</button>
				<button class="waves-effect waves-light btn purple" type="button"(click)="resetForm()">Clear</button>
			</div>
		</form>
	</div>
	<div class="new-confirmation container center-align" [hidden]="confirmation">
		<h1>You Entered:</h1>
			<p>{{newContactForm.value.name}}</p>
			<p>{{newContactForm.value.age}}</p>
			<p>{{newContactForm.value.phone}}</p>
			<button class="waves-effect waves-light btn blue" type="submit" (click)="addNewContact(newContactForm.value)">Submit</button>
			<button class="waves-effect waves-light btn purple" type="button" (click)="confirmation=true">Edit</button>
	</div>
	<div *ngIf="errorMessage">
		<p>Something went wrong: {{errorMessage}}</p>
	</div>
</div>